<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ '/favicon.ico' | replace_first:'/', page.root_dir }}" />
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | replace_first:'/', page.root_dir }}">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/assets/styles/vendor.min.css' | replace_first:'/', page.root_dir }}">
  <link rel="stylesheet" href="{{ '/assets/styles/bootstrap.min.css' | replace_first:'/', page.root_dir }}">
  <link rel="stylesheet" href="{{ '/assets/styles/framework8.docs.min.css' | replace_first:'/', page.root_dir }}">
  {% include target-css.html %}

  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | replace_first:'/', page.root_dir }}">
  <script src="{{ '/assets/scripts/vendor/modernizr.min.js' | replace_first:'/', page.root_dir }}"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">
</head>
