<footer class="doc-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <p class="u8-font-size-sm u8-my">
          Copyrights &copy; {{ site.time | date: '%Y' }}
          All Rights Reserved by {{ site.author | escape }}
        </p>
      </div>
      <div class="col-sm-2">
        <ul class="doc-list doc-list--inline u8-text-sm-end">
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a></li>
          {% endif %}
          {% if site.facebook_username %}
          <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
          {% endif %}
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
