<nav id="scrollspy">
  <ul class="nav nav-pills nav-stacked doc-nav">
    {% for group in site.data.sections %}
      {% for page_in_group in group.pages %}
        {% if page.title == page_in_group.title %}
          {% for section in page_in_group.sections %}
          <li><a class="f8-js-smooth-scrolling" href="#{{ section.title | downcase | replace: ', ', '-' | replace: ' & ', '--' | replace: ' ', '-' }}" data-f8-duration="1500" data-f8-easing="easeInOutExpo">{{ section.title }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</nav>
