// Root - Root CSS variables
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




:root {
  --f8-selection-bg-color:            #{$selection-bg-color-base};

  --f8-headings-font-family:          #{$headings-font-family-base}; // You may like to change it e.g. when your page is in another language.
  --f8-font-family:                   #{$font-family-base};          // You may like to change it e.g. when your page is in another language.
  --f8-font-size:                     #{$font-size-base};            // Base of font sizes. Other font sizes (such as headings) will be set according to this.
  --f8-line-height:                   #{$line-height-base};

  --f8-headings-color:                #{$headings-color-base};
  --f8-text-color:                    #{$text-color-base};
  --f8-text-link-color:               #{$text-link-color-base};

  --f8-bg-color:                      #{$bg-color-base};

  --f8-spacer:                        #{$spacer-base};               // Base of margins & paddings. Other spaces (such as spaces for bottom margin of headings) will be set according to this.
}
