// Themes - Feel and color styles.
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Dark

// Variables
$th-dark-color-headings:              #fff !default;
$th-dark-color-text:                  #eee !default;
$th-dark-color-bg:                    #222 !default;

// Styles
.f8-theme-dark {
  --f8-headings-color:                #{$th-dark-color-headings};
  --f8-text-color:                    #{$th-dark-color-text};
  --f8-bg-color:                      #{$th-dark-color-bg};
}
