// Mixins - Useful mixins designed to reduce duplication.
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Color

@mixin f8-icon-color($color) {
  color: $color;

  svg path,
  svg rect,
  svg circle,
  svg polygon {
    fill: $color;
  }

  svg {
    stroke: $color;
  }
}

@mixin f8-icon-color-inherit() {
  color: inherit;

  svg path,
  svg rect,
  svg circle,
  svg polygon {
    fill: currentColor;
  }

  svg {
    stroke: currentColor;
  }
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Size

@mixin f8-icon-size($ic-dimension) {
  width: $ic-dimension;
  height: $ic-dimension;

  font-size: $ic-dimension;

  img,
  svg {
    width: $ic-dimension;
    height: $ic-dimension;
  }
}
