// f8-button - Framework8 button block
// @copyright 2022 MyThemeIsReady. All Rights Reserved.
//
// Cool button styles :)
//
// NOTE: This block needs the global `box-sizing` value to be `border-box`. If
// it's going to be used in a project that this is not the case, then make sure
// to set the `box-sizing` for all of the elements inside of the block (and also
// the elements that are not inside of the block itself, if there's any elements
// like so) to `border-box`.
//
//
// Requirements:
// - Root Custom Props:       ../_root.scss
// - Variables:               ../_variables.scss
// - Mixins:                  ../_mixins.scss
//
// Goes well with:
// - Utils:                   ../utils/_utils.scss
// - Icon:                    ../icon/_icon.scss
//
//
//
//
// @example
// <!-- CSS custom properties to modify the block styles
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!--
// <style>
// .f8-button {
//   --f8-button-text-color: inherit;
//   --f8-button-bg-color: var(--f8-blocks-def-bg-color);
//   --f8-button-bg-hover-color: var(--f8-blocks-def-hr-color);
//
//   --f8-button-font-size: var(--f8-blocks-font-size);
//   --f8-button-padding-x: var(--f8-blocks-spacer);
//   --f8-button-padding-y: var(--f8-blocks-spacer);
// }
// </style>
// -->
//
//
//
//
// <!-- Simple buttons
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <a class="f8-button" href="#" role="button">Link</a>
// <a class="f8-button" href="#" role="button" disabled>Link disabled</a>
// <button class="f8-button" type="submit">Button</button>
// <input class="f8-button" type="button" value="Input">
// <input class="f8-button" type="submit" value="Submit">
// <br><br>
//
//
// <!-- Call-to-action button -->
//
// <a class="f8-button" href="#" role="button">
//   <div>
//     <span class="f8-button__head">Sign up today</span>
//     <span class="f8-button__body">30 days free trial</span>
//   </div>
// </a>
// <br><br>
//
//
// <!-- Button with an icon -->
//
// <a class="f8-button" href="#" role="button">
//   <i class="fa fa-info-circle u8-me-sm"></i>
//   <span class="f8-button__label">Info</span>
// </a>
//
//
// <!-- Icon button -->
//
// <a style="--f8-button-padding-x: 4px; --f8-button-padding-y: 4px;" class="f8-button u8-rounded" href="#" role="button">
//   <i class="fa fa-info-circle"></i>
// </a>
// <br><br>
//
//
//
//
// <!-- Color modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-button--color-{whitish,blackish,primary,accent,greenish,reddish,yellowish,bluish} -->
//
// <a class="f8-button f8-button--color-primary" href="#" role="button">Link</a>
// <a class="f8-button f8-button--color-accent" href="#" role="button">Link</a>
// <br><br>
//
//
// <!-- .f8-button--color-fitful-agree: This color modifier is fitful! It lets
// the block to be whtish by default, and be blackish when it is a descendant
// element of an element with a class attribute value that contains "dark". -->
// <!-- .f8-button--color-fitful-against: This color modifier is the opposite of agree fitful color modifier. -->
//
// <a class="f8-button f8-button--color-fitful-against" href="#" role="button">Link</a>
// <br><br>
//
//
// <!-- NOTE: You can also completely forget about the color modifiers, and just
// simply edit the color CSS custom properties of the block. -->
//
// <a style="--f8-button-text-color: #fff; --f8-button-bg-color: black; --f8-button-bg-hover-color: pink;" class="f8-button" href="#" role="button">Link</a>
// <br><br>
//
//
//
//
// <!-- Size modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-button--size-{xs,sm,lg} -->
//
// <a class="f8-button f8-button--size-xs" href="#" role="button">Link</a>
// <a class="f8-button f8-button--size-sm" href="#" role="button">Link</a>
// <a class="f8-button f8-button--size-lg" href="#" role="button">Link</a>
// <br><br>
//
// <!-- NOTE: You can also completely forget about the size modifiers, and just
// simply edit the size CSS custom properties of the block. -->
//
// <a style="--f8-button-font-size: 24px; --f8-button-padding-x: 4px; --f8-button-padding-y: 4px;" class="f8-button" href="#" role="button">Link</a>
// <br><br>
//
//
//
//
// <!-- Visual modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-button--visual-block modifier sets width of the button to 100% -->
//
// <a class="f8-button f8-button--visual-block" href="#" role="button">Link</a>
// <br><br>
//
//
//
//
// <!-- Effect modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-button--effect-{light,outline,3d,rotator,fader} -->
//
//
// <!-- Simple effect modifiers -->
//
// <a class="f8-button f8-button--effect-light" href="#" role="button">Link</a>
// <a class="f8-button f8-button--effect-outline" href="#" role="button">Link</a>
// <a class="f8-button f8-button--effect-3d" href="#" role="button">Link</a>
// <br><br>
//
//
// <!-- Rotator effect -->
//
// <a class="f8-button f8-button--effect-rotator" href="#" role="button">
//   <i class="f8-button__icon fa fa-info-circle"></i>
//   <span class="f8-button__label">Info</span>
// </a>
// <a class="f8-button f8-button--effect-rotator" href="#" role="button">
//   <span class="f8-button__icon">20% Off</span>
//   <span class="f8-button__label">Purchase</span>
// </a>
// <br><br>
//
//
// <!-- Fader effect -->
//
// <a class="f8-button f8-button--effect-fader" href="#" role="button">
//   <i class="f8-button__icon fa fa-info-circle"></i>
//   <span class="f8-button__label">Info</span>
// </a>
// <a class="f8-button f8-button--effect-fader" href="#" role="button">
//   <span class="f8-button__icon">20% Off</span>
//   <span class="f8-button__label">Purchase</span>
// </a>
// <a class="f8-button f8-button--effect-fader" href="#" role="button">
//   <i class="f8-button__icon fa fa-info-circle"></i>
//   <i class="f8-button__label fa fa-info-circle"></i>
// </a>
// <br><br>
//
//
//
//
// <!-- State modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-button--state-{active,disable,loading} -->
//
// <a class="f8-button f8-button--state-active" href="#" role="button">Link</a>
// <a class="f8-button f8-button--state-disable" href="#" role="button">Link</a>
//
//
// <!-- Loading State -->
//
// <a class="f8-button f8-button--state-loading" href="#" role="button">
//   <!-- The loading state modifier needs you to have at least
//   f8-button__holder and f8-button__loader elements for your button -->
//   <div class="f8-button__holder"><span class="f8-button__label">Link</span></div>
//   <!-- Of course in loader you can have your own custom images, icons, or sprites -->
//   <div class="f8-button__loader"><i class="fas fa-spinner fa-spin"></i></div>
// </a>
//
// <a class="f8-button f8-button--state-loading" href="#" role="button">
//   <div class="f8-button__holder"><span class="f8-button__label">Link</span></div>
//   <div class="f8-button__loader">
//     <!-- SVG animations are also supported :) -->
//     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 50 50">
//       <path d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
//         <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
//       </path>
//     </svg>
//   </div>
// </a>
//
// <a class="f8-button f8-button--state-loading" href="#" role="button">
//   <div class="f8-button__holder"><span class="f8-button__label">Link</span></div>
//   <div class="f8-button__loader">
//     <!-- Yep! Simply wrap your SVG inside a div tag and give it your own custom dimensions. -->
//     <div style="width: 20px; height: 20px;" class="u8-line-height-0">
//       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 50 50">
//         <path d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
//           <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
//         </path>
//       </svg>
//     </div>
//   </div>
// </a>
// <br><br>
//
//
//
//
// <!-- Holder, Loader
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <a class="f8-button" href="#" role="button">
//   <div class="f8-button__holder">
//     <div>
//       <span class="f8-button__head">Sign up today</span>
//       <span class="f8-button__body">30 days free trial</span>
//     </div>
//   </div>
//   <!-- NOTE: Loader will be only visible in loading state. And yes, just like
//   the holder element, loader can also accept any content as well as our own
//   head, body, label, and icon elements. -->
//   <div class="f8-button__loader">
//     <i class="fas fa-spinner fa-spin"></i>
//   </div>
// </a>
// <br><br>
//
//
//
//
// <!-- Head, Body, Label, Icon
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <a style="flex-direction: column;" class="f8-button" href="#" role="button">
//     <span class="f8-button__head">Sign up today</span>
//     <span class="f8-button__body">30 days free trial</span>
// </a>
//
// <a class="f8-button f8-button--effect-fader" href="#" role="button">
//   <i class="f8-button__icon fa fa-info-circle"></i>
//   <span class="f8-button__label">Info</span>
// </a>
// <br><br>
//
//
//
//
// <!-- Group
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- Group element is a flex-box wrapper that groups some buttons together. -->
//
// <!-- NOTE: The group element also supports `.u8-curved` and `u8-rounded`
// modifiers of the Utils block. -->
//
// <div class="f8-button__group u8-curved">
//   <a class="f8-button" href="#" role="button">1</a>
//   <a class="f8-button" href="#" role="button">2</a>
//   <a class="f8-button" href="#" role="button">3</a>
// </div>
// <br><br>
//
//
//
//
// <!-- Let's combine modifiers together
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <a style="--f8-button-bg-color: #1da1f2; --f8-button-bg-hover-color: #333; --f8-button-text-color: #fff;" class="f8-button f8-button--size-lg f8-button--effect-rotator" href="#" role="button">
//   <i class="f8-button__icon fab fa-twitter"></i>
//   <i class="f8-button__label fab fa-twitter"></i>
// </a>
// <br><br>
//
//
//
//
// <!-- Let's combine the block with others: Utils, Icon
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-button__icon element can be used in combination with the Icon block -->
// <a class="f8-button f8-button--color-bluish f8-button--size-lg u8-curved" href="#" role="button">
//   <i class="f8-button__icon f8-icon f8-icon--ic-framework8 f8-icon--color-inherit"></i>
// </a>
//
// <a class="f8-button f8-button--size-lg u8-curved" href="#" role="button">
//   <i class="f8-button__icon f8-icon"><img alt="Framework8" src="images/f8.png"></i>
// </a>
//
// <a class="f8-button f8-button--color-primary f8-button--effect-fader u8-rounded" href="#" role="button">
//   <i class="f8-button__icon fab fa-facebook"></i>
//   <i class="f8-button__label fab fa-facebook"></i>
// </a>
// <br><br>
//
// <a class="f8-button f8-button--color-greenish f8-button--size-lg f8-button--effect-rotator u8-text-uppercase" href="#" role="button">
//   <i class="f8-button__icon f8-icon f8-icon--ic-package f8-icon--color-inherit"></i>
//   <span class="f8-button__label">Download the Package!</span>
// </a>
// <br><br>
//
// <a class="f8-button f8-button--color-yellowish f8-button--effect-3d u8-curved u8-text-shadow u8-text-start" href="#" role="button">
//   <div>
//     <span class="f8-button__head u8-text-uppercase">Sign up today</span>
//     <span class="f8-button__body">30 days free trial</span>
//   </div>
// </a>
// <br><br>
//
// <div class="u8-d-flex">
//   <div class="f8-button__group u8-curved">
//     <span class="u8-text-color-whitish u8-bg-color-primary u8-p">1</span>
//     <a class="f8-button" href="#" role="button">2</a>
//     <a class="f8-button" href="#" role="button">3</a>
//   </div>
//   <a class="f8-button u8-curved u8-ms" href="#" role="button">Last</a>
// </div>

@import 'variables';
@import 'mixins';




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Custom Properties

.f8-button {
  --f8-button-text-color: #{$f8-button-text-color-base};
  --f8-button-bg-color: #{$f8-button-bg-color-base};
  --f8-button-bg-hover-color: #{$f8-button-bg-hover-color-base};

  --f8-button-font-size: #{$f8-button-font-size-base};
  --f8-button-padding-x: #{$f8-button-padding-x-base};
  --f8-button-padding-y: #{$f8-button-padding-y-base};
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Block

.f8-button {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin-bottom: 0; // For input.f8-button

  transition: all $f8-transition-duration;

  border: 0;
  border-radius: 0; // Reset iOS default curve for inputs & buttons
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  line-height: inherit;

  overflow: hidden;

  touch-action: manipulation;
  cursor: pointer;
  user-select: none; // Disable text selection on button

  @include f8-button-color($f8-button-text-color, $f8-button-bg-color, $f8-button-bg-hover-color);
  @include f8-button-size($f8-button-font-size, $f8-button-padding-x, $f8-button-padding-y);

  &,
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &,
  &:active,
  &.f8-button--state-active,
  .f8-nav &.current {
    &:focus {
      @include tab-focus; // Normalize tab focus outline styles
    }
  }

  // Do not show the focus outline when the state is loading... Because the
  // spinner's dimensions may be bigger than the button's dimensions itself
  // although it's not visible... But outline makes that clear and it doesn't
  // look so good.
  &.f8-button--state-loading {
    &:focus {
      outline: none;
    }
  }

  // disabled styles
  &.f8-button--state-disable,
  &[disabled],
  fieldset[disabled] & {
    opacity: $f8-opacity-disabled;
    pointer-events: none;
  }


  // Block Specific Styles: Icon
  .f8-icon {
    transition: all 0s; // To prevent color change delay
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Color

.f8-button--color-fitful-agree {
  --f8-button-text-color: #{$f8-color-000};
  --f8-button-bg-color: #{$f8-blocks-whitish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-whitish-2-color};

  [class*="dark"] & {
    --f8-button-text-color: #{$f8-color-fff};
    --f8-button-bg-color: #{$f8-blocks-blackish-color};
    --f8-button-bg-hover-color: #{$f8-blocks-blackish-2-color};
  }
}

.f8-button--color-fitful-against {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-blackish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-blackish-2-color};

  [class*="dark"] & {
    --f8-button-text-color: #{$f8-color-000};
    --f8-button-bg-color: #{$f8-blocks-whitish-color};
    --f8-button-bg-hover-color: #{$f8-blocks-whitish-2-color};
  }
}


.f8-button--color-whitish {
  --f8-button-text-color: #{$f8-color-000};
  --f8-button-bg-color: #{$f8-blocks-whitish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-whitish-2-color};
}

.f8-button--color-blackish {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-blackish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-blackish-2-color};
}

.f8-button--color-primary {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-primary-color};
  --f8-button-bg-hover-color: #{$f8-blocks-primary-2-color};
}

.f8-button--color-accent {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-accent-color};
  --f8-button-bg-hover-color: #{$f8-blocks-accent-2-color};
}

.f8-button--color-greenish {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-greenish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-greenish-2-color};
}

.f8-button--color-reddish {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-reddish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-reddish-2-color};
}

.f8-button--color-yellowish {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-yellowish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-yellowish-2-color};
}

.f8-button--color-bluish {
  --f8-button-text-color: #{$f8-color-fff};
  --f8-button-bg-color: #{$f8-blocks-bluish-color};
  --f8-button-bg-hover-color: #{$f8-blocks-bluish-2-color};
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Size

.f8-button--size-xs {
  --f8-button-font-size: #{$f8-blocks-font-size-sm};
  --f8-button-padding-x: #{$f8-blocks-spacer-sm};
  --f8-button-padding-y: #{$f8-blocks-spacer-xs};
}

.f8-button--size-sm {
  --f8-button-font-size: #{$f8-blocks-font-size-sm};
  --f8-button-padding-x: #{$f8-blocks-spacer};
  --f8-button-padding-y: #{$f8-blocks-spacer-sm};
}

.f8-button--size-lg {
  --f8-button-font-size: #{$f8-blocks-font-size-lg};
  --f8-button-padding-x: #{$f8-blocks-spacer-lg};
  --f8-button-padding-y: #{$f8-blocks-spacer-lg};
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Visual

.f8-button--visual-block {
  width: 100%;
}

// Vertically space out multiple block buttons
.f8-button--visual-block + .f8-button--visual-block {
  margin-top: $f8-blocks-spacer;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.f8-button--visual-block {
    width: 100%;
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Effect

.f8-button--effect-light {
  border: 1px solid;
}

.f8-button--effect-outline,
.f8-button--effect-fader {
  border: $f8-blocks-border-width solid;
}

.f8-button--effect-3d {
  &:hover {
    filter: brightness(1.15);
  }

  &:active,
  &.f8-button--state-active,
  &.f8-button--state-loading,
  .f8-nav &.current {
    filter: brightness(1);
    transform: translate(0, 4px);
    box-shadow:  0 0 $f8-button-bg-hover-color;
  }
}

.f8-button--effect-rotator,
.f8-button--effect-fader {

  //////////////////////////////////////////////////////////////////////////////
  /// Elements: Label, Icon

  .f8-button__label,
  .f8-button__icon {
    transition: transform $f8-transition-duration, opacity $f8-transition-duration;
  }

  .f8-button__icon {
  	position: absolute;
  }
}

.f8-button--effect-rotator {

  //////////////////////////////////////////////////////////////////////////////
  /// Elements: Label, Icon

  .f8-button__icon {
    transform: translateY(-300%);
  }

  &:hover,
  &.f8-button--state-active,
  .f8-nav &.current {
    .f8-button__label {
      transform: translateY(300%);
    }

    .f8-button__icon {
      transform: translateY(0);
    }
  }
}

.f8-button--effect-fader {

  //////////////////////////////////////////////////////////////////////////////
  /// Elements: Label, Icon

  .f8-button__icon {
    transform: translateY(35%);
  	opacity: 0;
  }

  &:hover,
  &.f8-button--state-active,
  .f8-nav &.current {
    .f8-button__label {
      transform: translateY(-35%);
    	opacity: 0;
    }

    .f8-button__icon {
      transform: translateY(0);
    	opacity: 1;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: State

// .f8-button--state-active {}

// .f8-button--state-disable {}

.f8-button--state-loading {
  pointer-events: none;


  //////////////////////////////////////////////////////////////////////////////
  /// Elements: Holder, Loader

  .f8-button__holder {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .f8-button__loader {
    visibility: visible;
    opacity: 1;
  }
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Holder, Loader

.f8-button__holder,
.f8-button__loader {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  transition: opacity $f8-transition-duration, visibility $f8-transition-duration;

  // Modify only the direct SVG child element, if user has put a custom SVG
  // inside holder or loader and do not modify an other descending SVG elements,
  // like the ones inside the icon block.
  > svg {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.f8-button__loader {
  position: absolute;

  visibility: hidden;
  opacity: 0; // Loader is invisible by default
  pointer-events: none;
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Head, Body, Label, Icon

.f8-button__head,
.f8-button__body,
.f8-button__label,
.f8-button__icon {
  pointer-events: none; // They don't need to have pointer events enabled
}

.f8-button__head,
.f8-button__body {
  display: block;
}

.f8-button__icon {
  width: 100%;

  // Make the text truncate for the times that .f8-button__icon is longer
  // than .f8-button__label
  @include text-truncate;
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Group

.f8-button__group {
  display: inline-flex;
  justify-content: space-between;

  // Reset child buttons' border radius
  > * {
    margin: 0; // IOS Bug in a VueJs app.
    flex: 1 0 auto;
    border-radius: 0;
  }

  // Block Specific Styles: Utils
  &.u8-curved {
    > *:first-child {
      border-top-left-radius: $f8-blocks-border-radius;
      border-bottom-left-radius: $f8-blocks-border-radius;
    }
    > *:last-child {
      border-top-right-radius: $f8-blocks-border-radius;
      border-bottom-right-radius: $f8-blocks-border-radius;
    }
  }

  // Block Specific Styles: Utils
  &.u8-rounded {
    > *:first-child {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
    > *:last-child {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Reset input position according to its border

// Modifier Specific Styles: .f8-button--effect-outline
.f8-button__group > .f8-button.f8-button--effect-outline:not(:first-child) {
  margin-left: calc(#{$f8-blocks-border-width} * -1);
}

// Modifier Specific Styles: .f8-button--effect-light
.f8-button__group > .f8-button.f8-button--effect-light:not(:first-child) {
  margin-left: -1px;
}
