// Variables - Basic settings.
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Color

// Root Bases
$f8-button-text-color-base:                           inherit !default;
$f8-button-bg-color-base:                             $f8-blocks-def-bg-color !default;
$f8-button-bg-hover-color-base:                       $f8-blocks-def-hr-color !default;


// Usefuls
$f8-button-text-color:                                var(--f8-button-text-color) !default;
$f8-button-bg-color:                                  var(--f8-button-bg-color) !default;
$f8-button-bg-hover-color:                            var(--f8-button-bg-hover-color) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Size

// Root Bases
$f8-button-font-size-base:                            $f8-blocks-font-size !default;


// Usefuls
$f8-button-font-size:                                 var(--f8-button-font-size) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Spacing

// Root Bases
$f8-button-padding-x-base:                            $f8-blocks-spacer !default;
$f8-button-padding-y-base:                            $f8-blocks-spacer !default;


// Usefuls
$f8-button-padding-x:                                 var(--f8-button-padding-x) !default;
$f8-button-padding-y:                                 var(--f8-button-padding-y) !default;
