<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include doc-head.html %}

  <body class="{% if page.body_class %}{{ page.body_class }}{% endif %}" data-spy="scroll" data-target="#scrollspy">
    <!--[if lt IE 10]>
    <div class="f8-browsehappy">
      <div class="f8-browsehappy__modal">
        <h1>Oh, crap!</h1>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" rel="external" target="_blank">upgrade your browser</a> to improve your experience.</p>
      </div>
    </div>
    <![endif]-->

    {{ content }}

    {% include doc-js.html %}

    <script>
    window.onload = function() {
      PR.prettyPrint();

      if (typeof onPageLoaded === "function") {
        onPageLoaded();
      }
    }
    </script>

  </body>

</html>
