---
layout: default
---




{% include header.html %}

<div class="doc-header fixed-header-space-top">
  <div class="container">
    <h1>{{ page.title | escape }}</h1>
    <p>
      {{ page.description | escape }}
    </p>
  </div>
</div>








<div class="container">
  <div class="row">
    <article class="col-md-9">
      {{ content }}
    </article>
    <aside class="col-md-3" style="margin-top: 70px">
      <div class="doc-sidebar doc-sidebar--sections u8-chrome-pretty-scroll hidden-print" id="sidebar">
        {% include nav.html %}
      </div>
    </aside>
  </div>
</div>








{% include footer.html %}

<script>
function onPageLoaded() {
  setupSidebar();
  firePageFunctions('fun');
}

function setupSidebar() {
  var fixedAvailableHeight = $(window.top).height() - $('#header').outerHeight(true) - $('#footer').outerHeight(true);
  var fullAvailableHeight = $(document).outerHeight() - $('#sidebar').offset().top - $('#footer').outerHeight(true);
  var sidebarMaxHeight = Math.min(fixedAvailableHeight, fullAvailableHeight);
  $('#sidebar').css('max-height', sidebarMaxHeight + 'px');

  $('#sidebar').affix({
  offset: {
    top: function () {
      return (this.top = $('#sidebar').offset().top - $('#header').outerHeight(true))
    },
    bottom: function () {
      return (this.bottom = $('#footer').outerHeight(true))
    }
  }
  });
}

function firePageFunctions(prefix) {
  var count = 0;

  while (true) {
    count++;

    if (typeof window[prefix + '_' + count.toString()] === "function") {
      window[prefix + '_' + count.toString()]();
    } else {
      break;
    }
  }
}
</script>
