---
layout: default
---




{% include header.html %}

<div class="doc-header doc-header--promoter">
  <div class="doc-header__head">
    <div class="container">
      <i style="max-width: 100px;" class="f8-icon f8-icon--ic-framework8 f8-icon--size-100 u8-mb-lg f8-icon--color-inherit"></i>
      <p class="m-y"><strong>f8-button</strong></p>
      <p>Awesome collection of CSS3 Buttons for those who love good design. All-in-One solution for any webpage. Variety of colors, effects, states, and sizes.</p>
    </div>
  </div>
  <footer class="doc-header__foot">
    <a class="f8-js-smooth-scrolling u8-text-color-inherit" href="#all-in-one-solution" data-f8-duration="1500" data-f8-easing="easeInOutExpo"><i class="fa fa-chevron-down fa-2x"></i></a>
  </footer>
</div>








<div class="container">

  <div class="row">
    <div class="col-sm-12 u8-text-center">
      <h1 id="all-in-one-solution">All-in-One solution.</h1>
      <p class="lead">
        You need buttons everywhere! So how cool would it be to have an <strong>All-in-One solution</strong> which has all of the cool CSS styled buttons with lots of effects and modifiers that you may need in every web page or web app.
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 u8-text-center">
      <h1>Fits just right in.</h1>
      <p class="lead">
        Compatible with all modern browsers, frameworks, and web environments. Using <strong>Pure HTML5</strong> or a front-end framework such as <strong>Bootstrap</strong>, <strong>MDL</strong>, <strong>Foundation</strong>, or anything else? It doesn't make any difference! You're in good company.
      </p>
      <img style="width:320px; margin: 20px;" src="{{ '/assets/images/frameworks.png' | replace_first:'/', page.root_dir}}" alt="fits with all front-end frameworks">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 u8-text-center">
      <h1>Full documentation.</h1>
      <p class="lead">
        Anything that you need to know about creating buttons is right here in this documentation. Just navigate through different pages in the header to read about, introduction on how to
        <a href="{{ '/getting-started/introduction.html' | replace_first:'/', page.root_dir}}">Get Started</a>,
        <a href="{{ '/getting-started/compatibility.html' | replace_first:'/', page.root_dir}}">Compatibility Notes</a>,
        <a href="{{ '/blocks/button.html' | replace_first:'/', page.root_dir}}"><em>Button</em></a> Block Documentation, and etc...
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <a class="btn btn-primary btn-lg btn-block" href="{{ '/getting-started/introduction.html' | replace_first:'/', page.root_dir}}" role="button">Get Started</a>
      <a class="btn btn-default btn-lg btn-block" href="{{ '/blocks/button.html' | replace_first:'/', page.root_dir}}" role="button">Button Block Documentation</a>
    </div>
  </div>

</div>








{% include footer.html %}
