  <!-- Put the following before closing </body> tag -->


  <!-- If you like to initialize all the Framework8 Javascript blocks yourself
  manually, then set the below variable to `true`. In this way none of them
  will be initialized automatically when the page loads and you're free to
  load any one of them whenever that you like according to your own coding
  logic. Just note that whenever you initialize a block, it must be after
  loading all of the required Javascript files which that block requires. -->
  <script>
    var initializeF8BlocksManually = false;
  </script>

  <!-- build:js scripts/vendor.js -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/bootstrap.js -->
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script type="text/javascript" src="scripts/main.js"></script>
  <!-- endbuild -->
