// f8-browsehappy - Framework8 browsehappy block
// @copyright 2022 MyThemeIsReady. All Rights Reserved.
//
// If user's browser is older than IE10, this appears in the page as a
// notification to notify her. You usually consider to put it after opening
// <body> tag.
//
//
// Requirements:
// - Root Custom Props:       ../_root.scss
// - Variables:               ../_variables.scss
//
//
//
//
// @example
// <!--[if lt IE 10]>
// <div class="f8-browsehappy">
//   <div class="f8-browsehappy__modal">
//     <h1>Oh, crap!</h1>
//     <p>You are using an <strong>outdated</strong> browser. Please
//     <a href="http://browsehappy.com/" rel="external" target="_blank">upgrade
//     your browser</a> to improve your experience.</p>
//   </div>
// </div>
// <![endif]-->

@import 'variables';




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Block

.f8-browsehappy {
  // We set its position to relative, so that the `z-index` propery can actually
  // have an effect on it. Why we like to move browsehappy on top of all other
  // elements on the page? Well, because if it's supposed to be visible, it
  // shouldn't get behind another element, as it's actually an alert to user!
  // That's why we make sure it's NOT going to be hidden behind.
  position: relative;

  padding: 20px;
  background-color: $f8-browsehappy-bg;
  direction: ltr #{"/*!rtl:ignore*/"};
  z-index: $f8-browsehappy-zindex;
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element: Modal

.f8-browsehappy__modal {
  padding: 10px;
  background-color: $f8-browsehappy-modal-bg;
  border-radius: 4px;
  color: $f8-browsehappy-modal-color;
  font: $f8-blocks-font-size Arial, sans-serif;
  text-align: center;

  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: darken($f8-browsehappy-modal-color, 20%);
      text-decoration: underline;
    }
  }

  h1 {
    margin: 5px;
    padding: 0;
    color: $f8-browsehappy-modal-color;
    font: calc(#{$f8-blocks-font-size} * 2.5) Arial, sans-serif;
    line-height: 1.1;
    letter-spacing: 0;
  }

  p {
    color: $f8-browsehappy-modal-color;
    font: $f8-blocks-font-size Arial, sans-serif;
    line-height: 1.4;
  }
}
