// Variables - Basic settings.
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Color

$f8-browsehappy-bg:                                   rgba(238, 238, 238, .9);
$f8-browsehappy-modal-color:                          #eee;
$f8-browsehappy-modal-bg:                             #333;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Misc

$f8-browsehappy-zindex:                               3000 !default;
