---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Override `doc` theme variables.
$link-color:                                           #007aff !default;
$header-top-color:                                     #007aff !default;
$header-bottom-color:                                  #81bdff !default;

// Import partials from the `doc` theme.
@import "doc";




// Overrides
.navbar-fixed-bottom, .navbar-fixed-top {
  // Override the Bootstrap default `z-index` value which is `1030`. So that
  // if the Nav block of the Framework8 is available in the page, it won't come 
  // over our fixed on top Bootstrap navbar.
  z-index: 99999;
}

.alert a {
  color: inherit;
}




// Basic
label.error {
color: #ef5350;
}

.label.label--inline {
  // Modify `.label` elements of Bootsrap a little bit, if `.label--inline`
  // modifier is also applied to them.
  font-size: 8px;
  text-transform: uppercase;
  vertical-align: middle;
}
