// Define defaults for each variable.
$screen-xs-min:                                        480px !default;
$screen-sm-min:                                        768px !default;
$screen-md-min:                                        992px !default;
$screen-lg-min:                                        1200px !default;

$screen-xs-max:                                        ($screen-sm-min - 1) !default;
$screen-sm-max:                                        ($screen-md-min - 1) !default;
$screen-md-max:                                        ($screen-lg-min - 1) !default;

$link-color:                                           #999 !default;
$bar-bg-color:                                         #222 !default;
$bar-text-color:                                       #fff !default;

$header-top-color:                                     #666 !default;
$header-bottom-color:                                  $bar-bg-color  !default;
$header-height:                                        50px !default;

$spacer:                                               1rem !default;




// Import partials.
@import "doc/syntax-highlighting";




// Basic
a {
  color: $link-color;

  &:hover,
  &:active,
  &:focus {
    color: darken($link-color, 10%);
  }
}

h1 {
  margin-top: 0;
  padding-top: calc(#{$header-height} + #{$spacer}); // Heading will be pushed down and in result be visible when we click on an anchor link

  &.no-fixed-header-space-top {
    margin-top: $header-height;
    padding-top: $spacer;
  }
}

.fixed-header-space-top {
  margin-top: $header-height;
}




// Code formatting
pre,
code {
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  background-color: #f7f7f7;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}




// <div class="doc-header">
//   <div class="container">
//     <h1>Hello</h1>
//     <p>You're awesome</p>
//   </div>
// </div>
.doc-header {
  position: relative;
  margin-bottom: calc(#{$spacer} * 2);
  padding: $spacer 0;
  color: $bar-text-color;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#333, .1);
  background-color: $header-bottom-color;
  background-image: linear-gradient(to bottom, $header-top-color 0, $header-bottom-color 100%);
  background-repeat: repeat-x;

  a {
    color: darken($bar-text-color, 10%);
  }

  h1 {
    margin-top: 0;
    padding-top: 0;
    color: $bar-text-color;
  }

  p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
  }

  @media (min-width: $screen-sm-min) {
    padding: 60px 0;
    text-align: left;

    h1 {
      font-size: 60px;
      line-height: 1;
    }

    p {
      font-size: 24px;
    }
  }
}

// <div class="doc-header doc-header--promoter">
//   <div class="doc-header__head">
//     <div class="container">
//       <h1>Hello</h1>
//       <p>You're awesome</p>
//     </div>
//   </div>
//   <footer class="doc-header__foot">
//     <a class="t24-js-smooth-scrolling text-color-fff" href="#easy-to-use" data-duration="1500" data-easing="easeInOutExpo"><i class="fa fa-chevron-down fa-lg"></i></a>
//   </footer>
// </div>
.doc-header--promoter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  min-height: 600px;

  @media (min-width: $screen-sm-min) {
    text-align: center;
  }
}

.doc-header__head,
.doc-header__foot {
  width: 100%;
}
.doc-header__foot {
  position: absolute;
  bottom: $spacer;
  width: 100%;
}




// <footer class="doc-footer">
//   <div class="container">...</div>
// </footer>
.doc-footer {
  margin-top: calc(#{$spacer} * 2);
  padding: calc(#{$spacer} / 2);
  background-color: $bar-bg-color;
  color: $bar-text-color;

  a {
    color: darken($bar-text-color, 30%);
  }
}




// <div class="doc-example">...</div>
.doc-example {
  margin: calc(#{$spacer} / 2) 0;
  padding: $spacer;
  border: 1px solid #eee;
}




// <div class="container">
//   <div class="row">
//     <article class="col-md-9">
//       ...
//     </article>
//     <aside class="col-md-3">
//       <div class="doc-sidebar doc-sidebar--sections chrome-pretty-scroll hidden-print" id="sidebar">
//         ...
//       </div>
//     </aside>
//   </div>
// </div>
.doc-sidebar {
  max-height: 402px;
  font-size: 14px;
  overflow-y: auto;

  &.affix-bottom {
    position: absolute;
  }

  &.affix {
    position: fixed;
    top: calc(#{$header-height} + #{$spacer});
  }
}

.doc-sidebar--sections {
  display: none;

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block;
    width: 213px;
  }

  @media (min-width: $screen-lg-min) {
    display: block;
    width: 263px;
  }
}

.doc-sidebar--pages {
  margin-bottom: $spacer;
  width: auto;
  background-color: #eee;

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 132px;
  }

  @media (min-width: $screen-lg-min) {
    width: 165px;
  }
}




// <nav id="scrollspy">
//   <ul class="nav nav-pills nav-stacked doc-nav">
//     <li><a class="t24-js-smooth-scrolling" href="#title" data-duration="1500" data-easing="easeInOutExpo">Title</a></li>
//   </ul>
// </nav>
.doc-nav {
  > li {
    &.active > a {
      &,
      &:focus,
      &:hover {
        color: $bar-text-color;
        background-color: $bar-bg-color;
      }
    }

    > a {
      color: $bar-bg-color;
    }
  }
}




// <ul class="doc-list doc-list--inline m-y text-sm-right">
//   <li><a class="text-color-white" href="mailto:email@site.com"><i class="fa fa-envelope"></i></a></li>
// </ul>
.doc-list {
  margin: $spacer 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 8px 0;
  }
}

.doc-list--inline {
 li {
   display: inline-block;
   margin: 0 4px;
 }
}
